#new-scrap-form.image-form
  %h2.scrap-form-title Image
  = form_for Scrap.new, remote: true do |f|
    = f.file_field :image
    = f.submit

#new-scrap-form.text-form
  %h2.scrap-form-title Text file
  = form_for Scrap.new, remote: true do |f|
    = f.file_field :text_file
    = f.submit

- @scraps.each do |scrap|
  %p
    - if scrap.image.present?
      %h2= scrap.read_attribute(:image)
      = image_tag scrap.image.url(:fill_thumb)
      = image_tag scrap.image.url(:fit_thumb)
    - elsif scrap.text_file.present?
      %h2= scrap.read_attribute(:text_file)
      = link_to scrap.text_file.url, scrap.text_file.url
